<%= paginator.render do -%>
  <nav>
    <div class="next_prev_pagination">
      <ul class="pager">
        <li id="prev_pagination"><%= prev_page_tag %></li>
        <li id="next_pagination"><%= next_page_tag %></li>
      </ul>
    </div>
  </nav>
<% end -%>
