<% if page.current? %>
  <span class="active">
    <%= content_tag :a, page, remote: remote, rel: (page.next? ? "next" : (page.prev? ? "prev" : nil)) %>
  </span>
<% else %>
  <span>
    <%= link_to page, url, remote: remote, rel: (page.next? ? "next" : (page.prev? ? "prev" : nil)) %>
  </span>
<% end %>
