<h1>Welcome <%= @member.name %> to Conference Room Book </h1>
<p>
  This is invitation take part to event from: <%= @schedule.user.name%>
</p>
<%= render "event", event: @schedule %>
<p>Thanks for joining and have a great day!</p>
