<% provide :title, t('schedules.new.title') %>

<% content_for :today_schedules do %>
  <% if user_signed_in? %>
    <div class="containers">
      <div class="today_schedules">
        <h3><%= t('pages.home.schedules_today') %></h3>
        <ul>
          <%= render @today_schedules %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<h1><%= t('schedules.new.title') %></h1>
<%= render 'form' %>