<% provide :title, "New event" %>

<% content_for :today_schedules do %>
  <% if user_signed_in? %>
    <div class="containers">
      <div class="today_schedules">
        <h3>Schedules</h3>
        <ul>
          <%= render @today_schedules %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<h1>New event</h1>
<%= render 'form' %>

<%= link_to "Back", :back %>