<div class="footer_for_fullcalendar">
  <br/>
  <table>
    <tr>
    <% @rooms.each do |room| %>
      <td>
        <div class="square" style="background-color:<%= room.color %>;"></div>
      </td>
      <td><b><%= room.name %></b></td>
    <% end %>
    </tr>
  </table>
</div>
