<div class="modal fade" id="modal-form" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel"><%= t('shared.book_room') %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-md-15">
            <div class="col-md-13">
              <%= render 'schedules/form' %>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->