<div class="dropdown" id="other_dropdown">
  <div class="dropdown-toggle btn btn-default" data-toggle="dropdown">
    <%= t("dropdown.title.other") %> <b class="caret"></b>
  </div>
  <ul class="dropdown-menu">
    <li id="print"><%= t("dropdown.options.print") %></li>
    <li id="refresh"><%= t("dropdown.options.refresh") %></li>
  </ul>
</div>
