<b class="title-popover"><%= t "index.listing.title" %></b><br/>
<div class="start-time-popover"></div>
<div class="finish-time-popover"></div>
<div class="room-popover"></div>
<table class="table-popover">
  <tr>
    <td class="detail">
      <a href="" id="detail-schedule-popover"><%= t("button.detail") %></a>
    </td>
    <td>
      <a href="" id="edit-schedule-popover"></a>
    </td>
    <td>
      <a href="" data-method="delete" data-remote="true" id="delete-schedule-popover"></a>
    </td>
    <td>
      <a href="" data-method="delete" data-remote="true" id="delete-repeat-popover"></a>
    </td>
  </tr>
</table>
<div id="prong_event" class="bottom-prong">
  <div class="prong-dk"></div>
  <div class="prong-lt"></div>
</div>
