<div style="z-index: 9669; width: 400px; left: -400px; top: 0px;" class="bubble has-bottom-prong" id="quick-event-popup">
  <div id="bubblePromo:e" style="display: none;"></div>
  <div class="bubblemain">
    <div id="bubbleClose:e" class="bubbleclose"></div>
    <div class="bubblecontent" id="bubbleContent:e">
      <div>
        <div>
        </div>
        <div class="cb-root">
          <div class="cb-switcher" id="switcher">
            <span id="hoice0" class="cb-switcher-selected">Sự kiện</span> | <span id="choice1" class="lk cb-switcher-link">Công việc</span>
          </div>
          <form autocomplete="off" id="form" action="javascript:(void)">
            <table class="cb-table" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <th class="cb-key">Thời điểm:</th>
                  <td class="cb-value">th 5, 19 tháng 11, 2015</td>
                </tr>
                <tr>
                  <th class="cb-key">Nội dung:</th>
                  <td class="cb-value">
                    <div class="textbox-fill-wrapper">
                      <div class="textbox-fill-mid">
                        <input id="what" type="text" class="textbox-fill-input cb-event-title-input" autofocus>
                      </div>
                    </div>
                    <div class="cb-example">ví dụ: 7 giờ Ăn tối tại nhà hàng Pancho</div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="cb-actions">
                    <input type="hidden" id="calendar">
                    <span id="create-button">
                      <div class="goog-inline-block goog-imageless-button" role="button" tabindex="0" style="-webkit-user-select: none;">
                        <div class="goog-inline-block goog-imageless-button-outer-box">
                          <div class="goog-inline-block goog-imageless-button-inner-box">
                            <div class="goog-imageless-button-pos">
                              <div class="goog-imageless-button-top-shadow">&nbsp;</div>
                              <div class="goog-imageless-button-content">Tạo sự kiện</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </span> &nbsp;
                      <a href="javascript:void(0)" id="editLink" class="lk">Chỉnh sửa sự kiện <strong>»</strong>
                      </a>
                    </td>
                  </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
    <div id="prong" class="bottom-prong" style="left: 182px;">
      <div class="prong-dk"></div>
      <div class="prong-lt"></div>
    </div>
  </div>
</div>
