<div class="header">
  <span>
    <%= link_to t("calendar.expand_all"), "javascript:void(0)", class: "expand" %>
  </span>
  &verbar;
  <span>
    <%= link_to t("calendar.collapse_all"), "javascript:void(0)", class: "coll" %>
  </span>
</div>
