<% provide :title, "Home" %>

<% if user_signed_in? %>
  <div id='calendar'></div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Framgia Book Reviewing System</h1>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<% content_for :right do %>
  <% if user_signed_in? %>
    <h3>Schedules</h3>
    <ul>
      <%= render @today_schedules %>
    </ul>
  <% end %>
<% end %>