@import "variables";

header {
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    margin-left: 15px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  ul.nav {
    margin-right: 15px !important;
  }
}

/* For ie6*/
* html footer{
  position:absolute;
  top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

aside {
  section.user_info {
    margin-top: 20px;
  }

  .containers {
    display: flex;
    overflow: hidden;
    height: 495px;
    padding-top: 18px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
  }

  .today_schedules {
    overflow: auto;
    height: auto;
    padding: .1rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.main-container {
  margin-top: 80px;
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}

ul {
  padding-left: 20px;
}

h3 {
  padding-left: 20px;
}

.pending-event {
  font-weight: bold;
  color: #0000FF;
}

.accepted-event {
  font-weight: bold;
  color: #006633;
}

.rejected-event {
  font-weight: bold;
  color: #780000;
}

#new_schedule {
  .finish-date {
    padding-left: 0px;
    padding-right: 0px;
  }

  .start-date {
    padding-left: 0px;
    padding-right: 0px;
  }

  .date {
    input:hover {
      cursor: pointer;
    }
  }
}

.fc-row {
  overflow: visible !important;
}

.fc-rigid {
  overflow: visible !important;
}

.table-col th {
  text-align: center;
}

#room_selector {
  height: 2.1em;
  border-radius: 4px;
}

#mini-calendar {
  width: 100%;
  .table-condensed {
    width: 100%;
  }
}

.k-weekend{
  display: block;
  overflow: hidden;
  min-height: 22px;
  line-height: 22px;
  padding: 0 .45em 0 .1em;
  cursor:default;
  opacity: 0.5;
}

.datepicker-inline {
  width: 100%;
}

.popover-content table {
  border-style: hidden;
  td {
    text-align: center;
  }
}

.btn.btn-primary {
  margin-left: 8px;
}
