@import "variables";

$gray-medium-light: #E0E0D6;
header {
  background-color: #f1f1f1;
  height: 60px;
  .child-header{
    position: relative;
    top: 8%;
  }
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #428bca;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    margin-left: 35px;
    &:hover {
      color: #428bca;
      text-decoration: none;
    }
  }

  ul.nav {
    margin-right: 15px !important;
  }

  .loading {
    position: absolute;
    right: 20px;
    top: -2px;
    font-size: 11px;
    background-color: red;
    color: white;
    z-index: 5;
  }
}

/* For ie6*/
* html footer{
  position:absolute;
  top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

aside {
  section.user_info {
    margin-top: 20px;
  }

  .containers {
    display: flex;
    overflow: hidden;
    height: 270px;
    padding-top: 18px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
  }

  .today_schedules {
    overflow: auto;
    height: auto;
    padding: .1rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.main-container {
  margin-top: 80px;
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.full-calendar-container {
  margin-top: 80px;
  .row {
    margin-right: 0px;
    margin-left: 0px;

    .col-md-10 {
      padding-left: 0px;
    }
  }
}

ul {
  padding-left: 20px;
}

h3 {
  padding-left: 20px;
}

.pending-event {
  font-weight: bold;
  color: #0000FF;
}

.accepted-event {
  font-weight: bold;
  color: #006633;
}

.rejected-event {
  font-weight: bold;
  color: #780000;
}

#new_schedule {
  .finish-date {
    padding-left: 0px;
    padding-right: 0px;
  }

  .start-date {
    padding-left: 0px;
    padding-right: 0px;
  }

  .date {
    input:hover {
      cursor: pointer;
    }
  }
}

#mini-calendar {
  width: 100%;
  .table-condensed {
    width: 100%;
  }
}

.k-weekend{
  display: block;
  overflow: hidden;
  min-height: 22px;
  line-height: 22px;
  padding: 0 .45em 0 .1em;
  cursor:default;
  opacity: 0.5;
}

.datepicker-inline {
  width: 100%;
}

.popover-content table {
  border-style: hidden;
  td {
    text-align: center;
  }
}

.btn.btn-primary {
  margin-left: 8px;
}

#calendar {
  a.fc-event {
    border-radius: 0;
    border-bottom: 1em;
    border-left: none;
    border-right: none;
    border-color: #ddd !important;
    border-collapse: collapse;

    &:last-child {
      border-bottom: none !important;
    }
  }

  .fc-row {
    overflow: visible !important;
  }

  .fc-rigid {
    overflow: visible !important;
  }

  .table-col th {
    text-align: center;
  }

  #room_selector {
    height: 2.1em;
    border-radius: 4px;
  }

  .dropdown-toggle {
    padding-top: 4px;
    height: 2.1em;
    font-size: 1em;
    background-color: #f5f5f5;
  }
  .dropdown-menu{
    min-width: 80px;
    left: -9px;
    li {
      padding-left: 10px;
    }
  }
}
.shared_schedules a:hover, .shared_schedules a:focus {
  text-decoration: none;
  color: black;
}

table.table-popover{
  width: 100%;
  font-size: 12px;
  a {
    padding: 0px 5px;
  }

  .detail {
    text-align: left;
  }
}

#my_calendar {
  #my-schedule-content {
    margin-left: 20px;
  }
  .my_schedules {
    margin-left: 20px;
  }

  p {
    margin-bottom: 0px;
    font-size: 13px;
    &.last {
      margin-bottom: 5px;
    }
  }
}

#shared_calendar {
  #shared-schedule-content {
    margin-left: 20px;
  }
  .my_schedules{
    margin-left: 20px;
  }

  p {
    margin-bottom: 0px;
    font-size: 13px;
    &.last {
      margin-bottom: 5px;
    }
  }
}

.title {
  cursor: pointer;
  &:hover {
    background-color: $gray-medium-light;
  }

  .small {
    font-size: 60%;
  }
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable.fc-short .fc-time span {
  display: inline;
}

.fc-time-grid-event.fc-v-event.fc-event.fc-start.fc-end.fc-draggable.fc-resizable.fc-short .fc-time:before {
  content: normal;
}

.footer_for_fullcalendar {
  text-align: -webkit-center;
  margin-bottom:10px;
  .square {
   width: 35px;
   height: 20px;
   margin-left: 20px;
   margin-right:10px;
  }
}
