@import "variables";
@media screen and (min-width: 768px) {
  .search-box {
    position: absolute;
    width: 30%;
    margin: 10px;
    margin-left: 305px;
  }

  #adv-search {
    width: 500px;
    z-index: 2;
    margin: 0 auto;
  }
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
}

.datepicker {
  z-index: 9999 !important;
}

#adv-search {
  position: relative;
  width: 426px;
  height: 34px;
}

#search-setting {
  position: absolute;
  left: 0;
  top: 35px;
  width: 426px;
  height: 150px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px 10px;
  display: none;
}

#start_date, #end_date {
  width: 160px;
  margin: 10px 9px;
  padding-left: 5px;
  box-shadow: none;
}

#end_date {
  right: -16px !important;
}

.search_filter_room {
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}

#search_form_room_id {
  margin-left: 10px;
  height: 2.1em;
  border-radius: 4px;
  background-color: white;
  border-color: $gray;
  border-radius: 0px !important;
  width: 106px !important;
}

#btn-setting {
  display: inline-block;
  position: absolute;
  color: $gray;
  z-index: 7;
  margin-top: -19px;
  margin-left: 404px;
  border-top: 5px solid;
  vertical-align: middle;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

#btn-setting:hover {
  color: $black;
  cursor: pointer;
}

#btn-submit {
  left: 426px;
  top: -34px;
  position: relative;
}

#f-search {
  height: 34px;
  width: 500px
}

#caret {
  position: absolute;
  top: 34px;
}
