.timetable {
  border: 1px solid #ccc;

  .lv-datecell {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    padding: 10px !important;
    text-align: left !important;
    vertical-align: top;
    white-space: nowrap;
    width: 15%;
    border-style: none !important;
  }

  .lv-time {
    width: 10%;
  }

  .lv-eventcell {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-style: none !important;
    padding: 10px 0 !important;
    .s-title {
      padding-bottom: 10px;
    }
  }

  .lv-row {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
}
