$light-gray: #777;
$lightest-gray: #F1F1F1;
$lighter-gray: #F5F5F5;
$gray: #E0E0E0;
$dark-gray: #808080;
$gray-medium-light: #E0E0D6;
$lightest-blue-gray: #E6E6E6;
$lighter-blue-gray: #DCDEE3;
$light-blue-gray: #B4B4CD;
$light-blue: #428BCA;
$blue: #0000FF;
$dark-green: #006633;
$dark-red: #780000;
$opalescent: #DDD;
